body{
    margin: 0;
    padding: 0;
    background-color: #2d1e6b;
    font-family: 'Lato','sns-serif';
    box-sizing: border-box;
    color: white;
}
header{

}
#navbar{
    margin: 0 auto;
    width:80%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo-container{
    display: flex;
    align-items: center;
}
#logo-container img{
    height: 30px;
    width: 28px;
    mix-blend-mode:color-dodge;
}
#nav-items{
    display: flex;
    width: 500px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
}

#nav-items li {
    cursor: pointer;
}